body {
  background-color: #e3e4fa;
  text-align: center;
}
p {
  padding: 0 3em;
  font-size: 1.25em;
}

.header:after {
  content: "Full Stack Developer";
  animation: change 15s infinite;
}
@keyframes change {
  10% {
    content: "Full Stack Developer ";
  }
  25% {
    content: "Node Developer ";
  }
  50% {
    content: "JavaScript Developer ";
  }
  75% {
    content: "Lifelong Student ";
  }
  100% {
    content: "Coffee Addict ";
  }
}

header {
  background-image: url(images/coffee-and-computer.jpeg);
  color: white;
  /*height: 9em;*/
  /*width: 100%;*/
  text-align: center;
  background-size: cover;
  padding-top: 3em;
  padding-bottom: 3em;
  font-size: 1.5em;
}
